
.sitwitter-circled:before { content: '\e800'; } /* '' */
.sivkontakte:before { content: '\e801'; } /* '' */
.sirss:before { content: '\e802'; } /* '' */
.sifeather:before { content: '\e803'; } /* '' */
.sicomment-empty:before { content: '\e804'; } /* '' */
.siinfo-circled:before { content: '\e805'; } /* '' */